<div class="form-inputs">
  <%= f.association :user %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :schengen_end_date %>
  <%= f.input :duration %>
  <%= f.association :destination_class %>
  <%= f.association :traveller_type %>
  <%= f.input :travellers_count %>
  <%= f.input :policies_count %>
  <%= f.association :travel_prem %>
  <%= f.input :base_prem %>
  <%= f.input :total_charges %>
  <%= f.input :gross_prem %>
  <%= f.input :policy_issued %>
</div>
