<p id="notice"><%= notice %></p>

<h1>Traveller Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traveller_types.each do |traveller_type| %>
      <tr>
        <td><%= traveller_type.name %></td>
        <td><%= link_to 'Show', traveller_type %></td>
        <td><%= link_to 'Edit', edit_traveller_type_path(traveller_type) %></td>
        <td><%= link_to 'Destroy', traveller_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traveller Type', new_traveller_type_path %>
