
<%= simple_form_for(@benefit_limit) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :destination_class %>
    <%= f.association :benefit_category %>
    <%= f.association :benefit %>
    <%= f.input :currency %>
    <%= f.input :limit %>
    <%= f.input :remarks %>
    <%= f.input :from %>
    <%= f.input :to %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
