<div class="bg-light p-5">
  <%= content_tag :h4, '24/7 WORLDWIDE EMERGENCY ASSISTANCE', class: 'text-info' %><br>
  <%= content_tag :p, "Contact <strong>IBERO ASSISTENCIA (Philippines)</strong> from anywhere around the world.".html_safe  %>
  <%= content_tag :p, "Emergency Helpline:  +63-2-459-4725" %>
  <%= content_tag :p, "(This is NOT a toll free number. Please call via an operator reverse charge/collect; or reimburse upon submission of your itemized phone bill when you return to the Philippines.)" %>
  <%= content_tag :p, "Please be ready to provide the following information:" %>
  <ul>
    <li>Passport Number</li>
    <li>Policy Number</li>
    <li>Full name of the injured and the principal insured</li>
    <li>The cause of the call</li>
    <li>The place he/she are located<br>
    (hotel/city/address/phone number)</li>
  </ul>

  <div class="text-center">
    <%= content_tag :p, "Powered by", class: 'text-small text-muted' %>
    <%= image_tag 'ibero_logo.png', id: 'ibero_logo' %>
  </div>
</div>
